openapi: 3.0.0
info:
  title: Developer Portal API
  description: API documentation for managing user authentication, API keys, and documentation access.
  version: 1.0.0
servers:
  - url: https://api.devportal.com/v1
    description: Production Server
  - url: https://sandbox.api.devportal.com/v1
    description: Sandbox Server
paths:
  /auth/login:
    post:
      summary: User Login
      description: Authenticates a user and returns an access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: password123
      responses:
        '200':
          description: Successful login.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: eyJhbGciOiJIUzI1...
        '401':
          description: Unauthorized (Invalid credentials).
          
  /auth/logout:
    post:
      summary: User Logout
      description: Logs out the current user by invalidating the access token.
      responses:
        '200':
          description: Successful logout.

  /apikeys:
    get:
      summary: Retrieve API Keys
      description: Returns a list of API keys associated with the authenticated user.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key_id:
                      type: string
                      example: abc123
                    created_at:
                      type: string
                      format: date-time
                      example: 2023-09-15T14:30:00Z
                    
  /docs:
    get:
      summary: Get API Documentation
      description: Provides access to API documentation content.
      responses:
        '200':
          description: API documentation content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentation_url:
                    type: string
                    example: https://docs.devportal.com
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
